.form-login {
  width: 400px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
}

.form-header {
  padding-bottom: 16px;
}
.form-header h3 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}

.form-header p {
  font-size: 13px;
  color: #333;
}
.form-body-login {
  margin-bottom: 10px;
}
.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.form-group label {
  font-size: 15px;
  font-weight: 500;
}
.form-group input {
  padding: 8px 12px;
  height: 36px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #444;
}
.error-message {
  font-size: 12px;
  color: red;
}
.btn:hover {
  opacity: 0.9;
}
.login {
  margin: 10px 0;
}

.create-account {
  display: block;
  color: #3395ff;
  font-size: 14px;
  cursor: pointer;
}
.form-footer {
  padding: 16px 0;
  font-size: 12px;
  border-top: 1px solid #888;
}
.direction {
  display: flex;
  justify-content: space-between;
}
.btn-login-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
